 .myinclude {
    :global(#contact-information) {
      display: none;
    }
    :global(#education) {
      display: none;
    }
    :global(#appointments) {
      display: none;
    }
    :global(#leadership-activities) {
      display: none;
    }
    :global(#research-interests) {
      display: none;
    }
    :global(#teaching-interests) {
      display: none;
    }
    :global(#books) {
      display: none;
    }
    :global(#journal-publications) {
      display: none;
    }
    :global(#trade-publications) {
      display: none;
    }
    :global(#refereed-book-chapters) {
      display: none;
    }
    :global(#refereed-conference-proceedings) {
      display: none;
    }
    :global(#presentations) {
      display: none;
    }
    :global(#software) {
      display: none;
    }
    :global(#honors) {
      display: none;
    }
    :global(#patents) {
      display: none;
    }
    :global(#grants) {
      display: none;
    }
    :global(#professional-memberships) {
      display: none;
    }
    :global(#service) {
      display: none;
    }
    :global(#professional-activities) {
      display: none;
    }
 }
