   .myinclude {
    :global(p) {
      margin: 1em 0;
    }
    :global(h2) {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1;
	/* text-align: center; */
	margin-bottom: 1em; 
	@apply max-md:text-2xl;
	margin-top: 1.4em;
    }
    :global(h1) {
       display: none;
    }
    .btn {
      @apply text-2xl bg-base-300;
    }
    span.smallcaps{font-variant: small-caps;}
}
	main {
		@apply lg:m-10;
		@apply max-lg:m-2;
		@apply lg:p-10;
		max-width: calc(100%); 
		line-height: 1.6;
	}
        span.myemail::before {
          content: "mtawarma";
        }
a {
   @apply link-accent hover:link-primary visited:link-secondary;
}
   .myinclude {
      :global(a) {
        @apply link-accent hover:link-primary visited:link-secondary;
        /*@apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600;*/
        /*@apply max-md:break-all;*/
     }
   }
   .myinclude {
      :global(#leadership-activities),:global(#honors), :global(#grants),
      :global(#service), :global(#professional-activities), :global(#teaching)  {
         :global(li) {
            @apply list-disc list-outside ml-10;
          }
       }
    }
   .myinclude {
       :global(#books), :global(#journal-publications), :global(#trade-publications),
       :global(#refereed-book-chapters), :global(#refereed-conference-proceedings),
       :global(#presentations), :global(#grants) {
          :global(ol) {
            @apply list-outside list-decimal lg:pl-14  max-lg:pl-10;
          }
        }
     }

