---
import "../styles/global.css";
import CVcomp from '../components/CVcomp.astro'
---

<CVcomp title="Mohit Tawarmalani: 404"
 description="Mohit Tawarmalani: 404"
 pagetype="404"
> 

<div class="myinclude">
<h2 class="bg-primary inline text-primary-content pl-2 pr-2"> 404: No such webpage</h2>

<p>Visit the <a href="https://mohit.prof/">homepage</a> or navigate to
one of the pages on the sidemenu.</p>
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
</style>
