---
import CVcomp from '../components/CVcomp.astro'
import Time from '../components/timeline.astro'
---

<CVcomp
 title="Mohit Tawarmalani: Appointments"
 description="Mohit Tawarmalani: Appointments"
 pagetype="appointments" 
> 
<h2> Recent Appointments </h2>
<ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
  <li><hr />
  <Time>
    <div class="timeline-start mb-10 md:text-end">
      <time class="italic">2024 &mdash; present </time>
      <div class="font-black ">Executive Associate Dean of Faculty<br/> Acting ... (Sep 2023 &mdash; June 2024) <br/>Interim Dean (Jul 2023 &mdash; Aug 2023) <br />Mitch Daniels School of Business</div>
      <ul>
      <li> Restructuring the business school with nine departments instead of two.</li>
      <li> Representing the business school in faculty affairs and research. </li>
      </ul>
    </div>
  </Time>
  <hr /></li>
  <li><hr />
  <Time>
    <div class="timeline-end mb-10">
      <time class="italic">2022 &mdash; present</time>
      <div class="font-black">Academic Director <br/> Krenicki Center for Business Analytics and Machine Learning</div>
      <ul>
      <li> Engaged companies with the center on projects in business applications of data science </li>
      <li> Led the team that won the INFORMS UPS George D. Smith Prize </li>
      </ul>
    </div>
  </Time>
  <li><hr />
  <Time>
    <div class="timeline-start mb-10 md:text-end">
      <time class="italic">2020 &mdash; 2023</time>
      <div class="font-black">Area Head<br/> Quantitative Methods</div>
      <ul>
        <li> Established the Bachelors Program in Business Analytics and Information Management </li>
        <li> Bachelor's program became the second largest undergraduate major in the School of Business </li>
        <li> Navigated multiple starts for masters program during COVID </li>
      </ul>
    </div>
  </Time>
  <hr /></li>
  <li><hr />
  <Time>
    <div class="timeline-end mb-10">
      <time class="italic">2015 &mdash; 2018</time>
      <div class="font-black">Academic Co-Director<br/> Masters in Business Analytics and Information Management</div>
      <ul>
        <li> Led the curriculum design team</li>
        <li> Developed new interview processes and advertising strategies </li>
        <li> Program is the largest residential graduate major in the School of Business </li>
      </ul>
    </div>
  </Time>
  <hr /></li>
  <li><hr />
     <div class="timeline-start mb-10 md:text-end">
      <time class="italic">2012 &mdash; present</time>
      <div class="font-black">Professor of Management<br/> Allison and Nancy Schleicher Chair (2014 &mdash; present) <br/> Chemical Engineering (Courtesy) (2022 &mdash; present) <br/> </div>
      <ul>
      <li> Developed new convexification techniques for MINLP</li>
      <li> Developed hierarchies and algorithms for disjoint bilinear programs </li>
      <li> Devised new envy-free pricing techniques for product bundles </li>
      <li> Designed new sustainable processes for separations and chemical processes </li>
      <li> Developed new techniques for network routing for demand uncertainty and failure resilience </li>
      </ul>
    </div>
  <Time>
  </Time>
  <hr /></li>
</ul>
</CVcomp>

<style>
    h2 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1;
	/* text-align: center; */
	margin-bottom: 1em; 
	@apply max-md:text-2xl;
	margin-top: 1.4em;
    }
</style>
