---
import "../styles/global.css";
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/books.mdx';
---

<CVcomp title="Mohit Tawarmalani: Book"
 description="Mohit Tawarmalani: Book"
 pagetype="books"
> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#books) {
      display: block;
    }
 }
</style>
