---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/conferences.md';
---

<CVcomp title="Mohit Tawarmalani: Resume"
 description="Mohit Tawarmalani: Resume"
 pagetype="conferences"
> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#refereed-conference-proceedings) {
      display: block;
    }
 }
</style>
