---
import "../styles/global.css";
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/contact.md';
---

<CVcomp title="Mohit Tawarmalani: Contact"
 description="Mohit Tawarmalani: Contact Information"
 pagetype="contact"
> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#contact-information) {
      display: inline;
    }
    :global(span.myemail)::before {
       content: "mtawarma";
    }
 }
</style>
