---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/honors.md';
---

<CVcomp title="Mohit Tawarmalani: Resume"
 description="Mohit Tawarmalani: Resume"
 pagetype="honors"
>
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#honors) {
      display: block;
    }
 }
</style>
