---
import "../styles/fonts.scss";
import Layout from '../layouts/Layout.astro';
import Name from '../components/name.astro';
import Bio from '../components/bio.md';
const base:string = String(import.meta.env.BASE_URL);
---
<Layout title="Mohit Tawarmalani: Homepage and Biosketch"
 description="Mohit Tawarmalani: Homepage and Biosketch"
 pagetype="home"
> 

<main>
<Name />

<div class="lg:h-10 max-lg:h-5"></div>

      <div class="flex max-lg:flex-col lg:space-x-10 max-lg:space-y-5 text-2xl max-md:text-xl">
         <div class="flex-none">
             <img class="shrink-0" width="378" height="476" src=`${base}mohit.webp` alt="Picture">
         </div>
         <div> <span class="font-semibold">Executive Associate Dean of Faculty<br />
             Professor and Allison and Nancy Schleicher Chair of Management<br />
             Mitch Daniels School of Business<br />
             Purdue University<br /></span>
             <br />
             4095 Rawls Hall<br />
             100 S. Grant Street<br />
             West Lafayette, IN 47907-2076<br />
             Email: <span class=myemail><span style="display: none">remove</span>@purdue<span style="display: none">remove</span></span>.edu <br />
             Phone: (765) 496-2620<br />
             My CV: <a class=resume href={`${base}cv/`}>HTML</a>,
             <a href={`${base}cv.pdf`}>PDF</a><br />
             <a href="https://orcid.org/0000-0003-3085-0084">ORCiD</a>
             <a class="ml-2" href="https://www.linkedin.com/in/mohit-tawarmalani/">LinkedIn</a>
             <a class="ml-2" href="https://scholar.google.com/citations?user=g62pd6YAAAAJ&hl=en&oi=ao">Google Scholar</a>
         </div>
      </div>
<div class="h-10"></div>

<div class="myinclude">
<Bio />
</div>
</main>

</Layout>

<style lang="scss">
 @use "../styles/cvstyle.scss";
</style>
