---
import CVcomp from '../components/CVcomp.astro'
import CV from '../components/journals.md';
---


<CVcomp title="Mohit Tawarmalani: Journal Publications"
 description="Mohit Tawarmalani: Journal Publications"
 pagetype="publications"
> 
<div class="myinclude">
<CV />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 @use "../styles/cvhide.scss";

 .myinclude {
    :global(#journal-publications) {
      display: block;
    }
 }
</style>
