---
import CVcomp from '../components/CVcomp.astro'
import Teach from '../components/teaching.md';
---

<CVcomp title="Mohit Tawarmalani: Teaching"
 description="Mohit Tawarmalani: Teaching"
 pagetype="teaching"
> 
<div class="myinclude">
<Teach />
</div>
</CVcomp>

<style lang="scss">
 @use "../styles/cvstyle.scss";
 .myinclude {
    :global(#contact-information) {
      display: block;
    }
    :global(span.myemail)::before {
       content: "mtawarma";
    }
 }

</style>
