---
import "../styles/fonts.scss";

interface Props {
	title: string;
        description: string;
        pagetype: string;
}

import Layout from '../layouts/Layout.astro';
import Name from '../components/name.astro';

const {title, description, pagetype} = Astro.props;
---
<script is:inline type="module">
    await import('/pagefind/pagefind-highlight.js');
    new PagefindHighlight({ highlightParam: "highlight" });
</script>
<Layout title={title} description={description} pagetype={pagetype}> 

<main>
<Name />

<div class="lg:space-x-10 max-lg:space-y-5 md:text-2xl max-md:text-xl">
<slot />
</div>
</main>
</Layout>

<style lang="scss">
 @use "../styles/cvstyle.scss";
</style>
